.form-login {
    width: 500px;
    border: 2px solid rgb(3, 165, 206);
    border-radius: 5px;
    padding: 30px;
    margin: 20vh auto;


}

.form-login h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #555;
}

.form-login input,
.form-login button {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 5px;
    border: 2px solid rgb(3, 165, 206);
    outline: rgb(3, 165, 206);

}

.btn-login {
    justify-content: space-between;
    align-items: center;
}

.btn-login button {
    width: 150px;
    color: white;
    text-transform: uppercase;
    background: rgb(3, 165, 206);
    letter-spacing: 2px;
}

.btn-login a {
    letter-spacing: 1, 3px;
    color: orange;
    text-transform: uppercase;
}